html,body,#root{
  height:100%;
  margin:0;
  overflow: hidden;
  cursor: crosshair;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  background: #000;
  color: #000;
}
#canvas-wrapper{
  position:fixed;
  inset:0;
}
